body {
    background-color: rgb(155, 210, 222);
}



#fondo {
    display: flex;
    margin: auto;
    padding: 0%;
}

#fondo img {
    width: 100%;
    margin: auto;
}

#login {
    background-color: aliceblue;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border-color: blue;

}

#login>div {
    width: 49%;
    margin: auto;

}

#fondo h2 {
    color: aliceblue;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#box-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10cqh;
    border-color: darkblue;

}

#box-formulario img {
    width: 40%;
    margin: 0 auto;


}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin: auto;
}

form input {
    margin-bottom: 10px;
    height: 40px;
    border-radius: 10cqh;
    border-color: darkblue;
}

form input[type="text"] {
    background: transparent;

    padding-left: 10px;
}


form input[type="submit"] {
    background-color: darkblue;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-transform: uppercase;
    column-gap: 2rem;
    transition:
        scale 0.25s ease-in,
        opacity 0.25s ease-in,
        filter 0.25s ease-in;

    &:hover {
        scale: 1.2;
    }

    ;
}

#sec1{

border-width: 5px solid blue;
border-left: 1px solid blue;

}


#menuhorizontal {
    display: flex;
    margin: 10p;
    padding: 0;
    list-style-type: none;
}

#menuhorizontal a {
    display: flex;
    width: 200px;
    text-decoration: none;
    text-align: center;
    color:blue;
    background-color: #f7f8e8;

    border-right: 1px solid blue;
    display: block;
}

#menuhorizontal li {
    display: flex;
    float: left;
}

#menuhorizontal a:hover {
    background-color: #336699;
}