* {
 height: 1000px;
 margin: 0;
 padding: 0;

}

.navegation{
   position: fixed;
   height: 70px;
   right: 0;
   left: 0;
   background-color: navy;
   box-sizing: border-box;


}

.navegation h1{
 position: fixed;
 top: 0;
 left: 0;


}




